@import 'node_modules/elr-scss-functions/main';

@mixin elr-row($config: ()) {
  $config: extend(
    (
      max-width: 1200px
    ),
    $config
  );

  $max-width: map-get($config, max-width);

  .elr-row {
    @include elr-clearfix;
    width: 100%;
  }

  .elr-container-full .elr-row {
    max-width: $max-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
