@import "elr-scss-config/src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-base/src/main";
@import "./src/main";

@include elr-reset;
@include elr-base;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: ($base-fontsize * 1.5);
}

.main-heading,
.subheading {
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
}

.subheading {
  font-size: $base-fontsize * 1.5;
  font-weight: 900;
  color: $primary-color;
}

.demo-content {
  position: relative;
  padding: ($base-fontsize * 1.5) 0;
}

@include elr-grid;

.elr-row div {
  // padding: 4px;

  .grid-item {
    background-color: $primary-color;
    border-radius: 5px;
    margin: 4px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    p {
      color: $white;
      padding: 4px;
      margin: 0;
      flex-basis: 100%;
      text-align: center;
    }
  }
}
